
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageLogin.cshtml";
}

<div class="frmLogin">
    @using (Html.BeginForm("CheckLogin", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <label class="lbllogin">Usernmae</label>
            <br />
            <input type="text" name="usernmae" class="txtxLogin" />
        </div>

        <div>
            <label class="lbllogin">Password</label>
            <br />
            <input type="password" name="password" class="txtxLogin" />
        </div>

        <div style="text-align: right">
            <button class="btnLogin" type="submit">Login</button>
        </div>
    }
</div>
