<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Brand Icon</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Trang chủ<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Sản phẩm</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container" role="main">
      <div class="row">
        <div class="col-6">
          <img src="img/IMG_8920.JPG" alt="" class="img-thumbnail" />
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Sản phẩm
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2>Kem chống nắng Navin</h2>
              <h3>500,000</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                  <form
                    class="form-inline"
                    style="padding-left:0; margin-left:0;"
                  >
                    <input
                      type="number"
                      name=""
                      id=""
                      class="form-control col-4"
                    />
                    <button class="btn btn-success col-8">Thêm vào giỏ</button>
                  </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3>Giới thiệu</h3>
          <p>* Sản phẩm được chiết xuất 100% nguyên liệu từ thiên nhiên gồm: Shea Butter, Hyaluronidase natri cacbonat, Macademia
          oil, Niacinamide, Poly – Glutamic acid Mick, Betain.
          * Sản phẩm không màu, không mùi, không hóa chất độc hại, không chất bảo quản hóa học… dịu nhẹ và không gây kích ứng da,
          kể cả làn da nhạy cảm nhất.
          * Sản phẩm được chiết xuất 100% nguyên liệu từ thiên nhiên. Giúp phục hồi làn da bị tổn thương, cung cấp dưỡng chất,
          ngăn chặn quá trình lão hóa, xóa mờ vết thâm, đem lại sự mịn màng, trắng sáng và rạng ngời tức thì cho làn da..
          * Với SPF 40/PA + +, sản phẩm còn giúp chống nắng, không hồi màu da cũ.
          * Sản phẩm chứa công thức đột phá, giúp chống lại các tác động tiêu cực, bảo vệ da nhờ thành phần hoạt chất cao HA, lô
          hội, jojoba và bơ hạt mỡ, có tác dụng dưỡng ẩm da suốt 24 giờ.
          Premium Body White Lotion phù hợp với da thiếu nước, kể cả da dầu.
          Sản phẩm còn chứa vitamin E, giúp da không bị lão hóa.</p>
        </div>
      </div>
    </main>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <a href="#"><i id="facebook" class="fab fa-facebook fa-5x"></i></a>
          </div>
          <div class="col-6"></div>
          <div class="col-3">
            <a href="#"
              ><i id="instagram" class="fab fa-instagram fa-5x"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
