<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<link rel="stylesheet" href="css/all.min.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="#">Brand Icon</a>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarCollapse"
						aria-controls="navbarCollapse"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"> </span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#">
									Trang chủ <span class="sr-only"> (current) </span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#product"> Sản phẩm </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"> Giới thiệu </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"> Liên hệ</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="container-fluid" role="main">
			<div class="row even" id="cover">
				<div class="col-md-12 col-lg-6 mr-auto ml-auto">
					<img src="img/IMG_8909.JPG" alt="" class="img-fluid" />
				</div>
			</div>
			<div class="row odd">
				<div class="col-md-12 align-items-center">
					<div class="intro-content content" id="intro">
						<h2>NIVAN - THƯƠNG HIỆU MỸ PHẨM ĐẾN TỪ THIÊN NHIÊN</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
							vitae convallis mauris. Aliquam a commodo mauris. In posuere diam
							quis magna tristique, non convallis ex ornare. Nullam semper eu
							nisi ac cursus. Fusce quis est ac lectus luctus sollicitudin ut id
							sapien. Maecenas tortor eros, malesuada a facilisis eu, blandit ut
							dolor. Donec imperdiet ultrices massa, et vehicula lorem fringilla
							eget. Fusce ac faucibus libero. Maecenas vehicula dignissim
							convallis. Integer aliquet justo sit amet diam finibus pretium.
						</p>
						<p>
							Aenean sagittis purus a porta ornare. Nullam a metus at est
							convallis ornare ac in erat. Nullam auctor purus diam, ut
							ullamcorper enim bibendum sit amet. Cras faucibus viverra mauris
							quis venenatis. Morbi cursus purus vel enim pretium, nec tempor
							metus luctus. Aenean quis nibh in risus eleifend vehicula. Ut
							eleifend nisl non mollis sagittis. Vestibulum ante ipsum primis in
							faucibus orci luctus et ultrices posuere cubilia Curae; Nulla
							semper bibendum ipsum in mattis. Praesent vel porttitor justo.
							Duis id purus hendrerit, aliquam nisi sed, tempus purus. Donec ac
							dignissim velit, vitae convallis massa. Aenean id interdum enim.
							Curabitur venenatis, lorem sed tristique dignissim, tellus enim
							aliquet diam, a tristique dui metus fringilla mi. Aliquam
							fringilla, nisi quis lacinia suscipit, lacus odio vestibulum nibh,
							sed finibus ex magna eu nunc. Etiam viverra lorem at gravida
							ornare. Mauris at lobortis erat. Vivamus efficitur tellus quis ex
							molestie commodo.
						</p>
						<p>
							Pellentesque elit massa, dictum sed lacinia et, dictum eu lorem.
							Ut ac laoreet neque. Maecenas aliquam arcu non finibus mattis.
							Aliquam laoreet, ex sit amet aliquam rutrum, felis neque accumsan
							mi, non tempor turpis ipsum at leo. Nulla elit odio, interdum id
							ultricies ac, ultricies a massa. Ut sed eleifend orci, sit amet
							maximus neque. Pellentesque hendrerit, massa sit amet aliquam
							ullamcorper, lorem nisl interdum diam, quis feugiat lorem massa id
							nunc. Curabitur sit amet tempor nulla, id volutpat est. Sed
							placerat sapien diam, a ultricies sem tempor in. Proin iaculis
							tellus eget nisl viverra gravida. Nulla vehicula scelerisque dui
							at egestas. Vivamus eget libero tortor. Aenean dolor urna,
							faucibus id tempor ac, condimentum id est. Nam semper augue sem,
							quis egestas massa sodales aliquam. Praesent feugiat elit eget
							tellus convallis, sed venenatis justo tristique. Etiam at iaculis
							nunc. Aenean tempus lacus quis lacinia ornare. Mauris id ultrices
							nisl. Maecenas varius maximus risus sit amet tincidunt. Curabitur
							sed bibendum nisi. Phasellus sagittis molestie convallis. Sed eget
							nibh ac arcu rhoncus interdum. Pellentesque rhoncus neque at
							maximus ultricies. Morbi eu dignissim ipsum. Mauris hendrerit,
							ante in rhoncus mattis, mi nisl dignissim nisi, sed imperdiet quam
							arcu mollis lorem. Fusce vel est dolor. Cras feugiat consectetur
							urna a vestibulum. Quisque consequat posuere euismod. Suspendisse
							vitae nisl sed augue pulvinar pharetra eu non magna.
						</p>
					</div>
				</div>
			</div>
			<div class="row even">
				<div class="col-12 col-lg-8 mr-auto ml-auto">
					<div class="row">
						<div class="col-12 content" id="product"><h2>Sản phẩm</h2></div>
						<div class="col-6">
							<div class="intro-product relative">
								<div class="img-area relative">
									<div class="overlay-image overlay-bg">
										<i class="far fa-eye"></i>
									</div>
									<img src="img/IMG_8912.JPG" class="img-fluid" alt="" />
								</div>
								<p>Kem dưỡng trắng</p>
								<h4>NIVAN BODY WHITE LOTION</h4>
							</div>
						</div>
						<div class="col-6">
							<div class="intro-product relative">
								<a href="#">
									<div class="img-area relative">
										<div class="overlay-image overlay-bg">
											<i class="far fa-eye"></i>
										</div>
										<img src="img/IMG_8917.JPG" class="img-fluid" alt="" />
									</div>
									<p>Kem dưỡng trắng</p>
									<h4>NIVAN BODY WHITE LOTION</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row odd">
				<div class="col-md-12 col-lg-8 mr-auto ml-auto ">
					<div class="content blog">
						<h2>Our Work Progress</h2>
						<p>
							Was years it seasons was there he form he in them toghether over
							that,
						</p>
						<p>
							Was years it seasons was there he form he in them toghether over
							that,
						</p>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe
								class="embed-responsive-item"
								width="560"
								height="315"
								src="https://www.youtube.com/embed/x6q41EnhPnU"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
							></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="row even">
				<div class="col-md-12 col-lg-8 mr-auto ml-auto">
					<div class="content blog">
						<h2>Hỗ trợ tư vấn</h2>
						<p>
							Let us know what you're looking for in an angency. We'll take a
							look and see
						</p>
						<p>If this could be the start of something beautiful</p>
					</div>
				</div>
				<br />
				<div class="col-md-12 col-lg-8 mr-auto ml-auto">
					<form>
						<div class="form-row align-items-center">
							<div class="col-6">
								<label class="sr-only">Name</label>
								<input
									type="text"
									class="form-control"
									placeholder="Your Name"
								/>
							</div>
							<div class="col-6">
								<label class="sr-only">Email</label>
								<input type="email" class="form-control" placeholder="Email" />
							</div>
						</div>
						<div class="form-row">
							<div class="col-12">
								<label class="sr-only">Title</label>
								<input
									type="text"
									class="form-control"
									placeholder="Your Title"
								/>
							</div>
						</div>
						<div class="form-row">
							<div class="col-12">
								<label class="sr-only">Title</label>
								<textarea
									class="form-control"
									placeholder="Your comments..."
								></textarea>
							</div>
						</div>
						<button class="btn btn-custom" type="submit">Send Message</button>
					</form>
				</div>
			</div>
		</main>
		<footer>
			<div class="container-fluid" id="footer-info">
				<div class="row">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<ul>
									<li>
										<a
											><i class="fas fa-building"></i> Cửa hàng mỹ phẩm online
											Nivan</a
										>
									</li>
									<li>
										<a
											><i class="fas fa-map-marker-alt"></i> 259 Nguyễn Văn
											Luông Phường 11 Quận 6</a
										>
									</li>
									<li>
										<a><i class="fas fa-phone-square"></i> (028) 354072915</a>
									</li>
									<li>
										<a><i class="fas fa-phone-square"></i> 0913 878 180</a>
									</li>
									<li>
										<a
											><i class="fas fa-envelope"></i>
											khoa.pham2502@gmail.com</a
										>
									</li>
								</ul>
							</div>
							<div class="col-md-4 social-network">
								<ul>
									<li>
										<a href="#"><i class="fab fa-facebook"></i> Facebook</a>
									</li>
									<li>
										<a href="#"><i class="fab fa-instagram"></i> Instagram</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid" id="copyright">
				<div class="row">
					<div class="container text-center">Copyright &copy; Nivanshop</div>
				</div>
			</div>
		</footer>

		<!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js,
					fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
				fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');
		</script>

		<!-- Your customer chat code -->
		<div
			class="fb-customerchat"
			attribution="setup_tool"
			page_id="216466555951568"
		></div>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
