@model FrontPage
@{
    ViewBag.Title = "Home Page";
}


<div class="row even" id="cover">
    <div class="col-md-12 col-lg-6 mr-auto ml-auto">
        <img src="~/img/IMG_8909.JPG" alt="" class="img-fluid" />
    </div>
</div>
<div class="row odd">
    <div class="col-md-12 align-items-center">
        <div class="intro-content content" id="intro">
            <h2>NIVAN – THƯƠNG HIỆU MỸ PHẨM ĐẾN TỪ THIÊN NHIÊN</h2>
            <p>
                Th&agrave;nh phần trong c&aacute;c sản phẩm đều được chiết xuất từ thi&ecirc;n nhi&ecirc;n như: Cam thảo , hoa hồng Damash, hoa c&uacute;c t&acirc;y , l&aacute; olive, c&acirc;y sơn tr&agrave;, bơ, olive, tinh dầu bưởi, nha đam, tr&agrave; xanh, nấm men Galactomyces, rễ cam thảo, l&aacute; đu đu, diếp c&aacute;&hellip; V&agrave; Niacinamid, Titanium Dioxide, HA, Shea Butter, Macadamia oil&hellip; do đ&oacute; ngay cả những l&agrave;n da nhạy cảm nhất đều c&oacute; thể d&ugrave;ng được.<br />
                C&aacute;c sản phẩm của NIVAN đều được sản xuất bởi quy tr&igrave;nh v&agrave; c&ocirc;ng nghệ hiện đại c&ugrave;ng đội ngũ chuy&ecirc;n gia nghi&ecirc;n cứu gi&agrave;u kinh nghiệm, chuy&ecirc;n sản xuất c&aacute;c d&ograve;ng mỹ phẩm cao cấp. Ngo&agrave;i ra, trước khi được ph&acirc;n phối rộng r&atilde;i ra thị trường, c&aacute;c sản phẩm của NIVAN đều phải trải qua những quy tr&igrave;nh kiểm duyệt chất lượng khắt khe.<br />
                NIVAN mong rằng, việc ra mắt thương hiệu cao cấp của m&igrave;nh sẽ tạo dấu ấn tr&ecirc;n thị trường, gi&uacute;p c&aacute;c chị em tiếp cận với những sản phẩm l&agrave;m đẹp ch&iacute;nh h&atilde;ng, chất lượng cao, an to&agrave;n v&agrave; hiệu quả.
            </p>
        </div>
    </div>
</div>
<div class="row even">
    <div class="col-12 col-lg-8 mr-auto ml-auto">
        <div class="row">
            <div class="col-12 content" id="product"><h2>Sản phẩm</h2></div>
            @foreach (var item in Model.Posts)
            {
                <div class="col-6">
                    <div class="intro-product relative">
                        <a href="@Url.Action("Product","Home",new { id = item.ID })">
                            <div class="img-area relative">
                                <div class="overlay-image overlay-bg">
                                    <i class="far fa-eye"></i>
                                </div>
                                <img src="~/img/@item.AVARTAR"
                                     class="img-fluid"
                                     alt="" />
                            </div>
                            <p>@item.OPTIONAL</p>
                            <h4>@item.TITLE</h4>
                        </a>
                    </div>
                </div>
            }

            @*<div class="col-6">
                    <div class="intro-product relative">
                        <a href="#">
                            <div class="img-area relative">
                                <div class="overlay-image overlay-bg">
                                    <i class="far fa-eye"></i>
                                </div>
                                <img src="~/img/IMG_8917.JPG"
                                     class="img-fluid"
                                     alt="" />
                            </div>
                            <p>Kem dưỡng trắng</p>
                            <h4>NIVAN BODY WHITE LOTION</h4>
                        </a>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<div class="row odd">
    <div class="col-md-12 col-lg-8 mr-auto ml-auto ">
        <div class="content blog">
            <h2>Our Work Progress</h2>
            <p>
                Was years it seasons was there he form he in them toghether over
                that,
            </p>
            <p>
                Was years it seasons was there he form he in them toghether over
                that,
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        width="560"
                        height="315"
                        src="@Model.Youtube.DESCRIP"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row even">
    <div class="col-md-12 col-lg-8 mr-auto ml-auto">
        <div class="content blog">
            <h2>Hỗ trợ tư vấn</h2>
            <p>
                Let us know what you're looking for in an angency. We'll take a
                look and see
            </p>
            <p>If this could be the start of something beautiful</p>
        </div>
    </div>
    @*<br />
        <div class="col-md-12 col-lg-8 mr-auto ml-auto">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-6">
                        <label class="sr-only">Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Your Name" />
                    </div>
                    <div class="col-6">
                        <label class="sr-only">Email</label>
                        <input type="email" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label class="sr-only">Title</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Your Title" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label class="sr-only">Title</label>
                        <textarea class="form-control"
                                  placeholder="Your comments..."></textarea>
                    </div>
                </div>
                <button class="btn btn-custom" type="submit">Send Message</button>
            </form>
        </div>*@
</div>
